{% extends 'base.html' %}


	{% block content %}
			{% load static %}


<div class="notfound bg-pattern" data-bgcolor="cccccc">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="notfound-image"><img src="static/images/404img.jpg" alt=""></div>
        <div class="notfound-title-1"> 404 </div>
        <div class="notfound-title-2"> Упс! Страница не найдена </div>
        <div class="notfound-text"> Страница, которую вы ищете, не существует или произошла другая ошибка <br>
          <a href="/">Вернись</a> или зайдите в <a href="/">Стоматологическая клиника</a> выбрать новое направление </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}