{% extends 'base.html' %}


	{% block content %}
			{% load static %}
<!-- =========================
     END MAIN MENU
============================== -->
<div class="page-title page-title-contacts bg-pattern" data-bgcolor="3B4B89">
  <div class="page-title-overlay">
    <div class="container">
      <h1>СВЯЗАТЬСЯ С НАМИ</h1>
      {% for information in informations %}
      <p>{{ information.con_mini_description }}</p>
      {% endfor %}
    </div>
  </div>
</div>
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li class="breadcrumb-home"><a href="#"><i class="fa fa-home"></i></a></li>
        <li class="active">Связаться с нами</li>
      </ol>
    </div>
  </div>
</div>
<div class="map" id="map"> </div>
<div class="map-info-container">
  {% for contact in contacts %}
  <div class="map-info" id="map-info">
    <div class="map-info-contacts">
      <div class="map-info-phone"> <i class="fa fa-phone"></i>
        <span>
          {{ contact.phone }}
        </span>
      </div>
      <div class="map-info-mail"> <i class="fa fa-envelope"></i>
        <span>
          <a href="{{ contact.email_ssylka }}">{{ contact.email }}</a>
        </span>
      </div>
      <div class="map-info-location"> <i class="flaticon-navigation-arrow"></i>

          <p style="margin-left:55px;">{{ contact.address }}</p>

      </div>
    </div>
    <div class="map-info-socials"> <a href="{{ contact.facebook }}"><i class="fa fa-facebook"></i></a> <a href="{{ contact.google }}"><i class="fa fa-google-plus"></i></a> <a href="{{ contact.twitter }}"><i class="fa fa-twitter"></i></a> <a href="{{ contact.skype }}"><i class="fa fa-skype"></i></a> </div>
  </div>
  {% endfor %}
</div>
<div class="get">
  <div class="container">
    <div class="row">
      <h2 class="section-title">КАК ДОБРАТЬСЯ</h2>
      {% for marshrut in marshruts %}
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 get-item">
        <div class="get-item-icon"> <i class="fa fa-{{ marshrut.icon }}"></i> </div>
        <h4 class="get-item-title">{{ marshrut.title }}</h4>
        <p class="get-item-text">{{ marshrut.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="make">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 make-text">
        <h2>ЗАПИСАТЬСЯ НА ПРИЕМ</h2>
        {% for information in informations %}
        <p>{{ information.make_mini_description }}</p>
        {% endfor %}
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 make-button"> <a href="#bookformtop" class="fancybox-2 btn btn-default">
          <span class="plus">
            +
          </span>
          Записаться на прием </a> </div>
    </div>
  </div>
</div>
<div class="feedback">
  <div class="container">
    <div class="row">
      <h2 class="section-title">
        <span class="bold700">
          СВЯЗАТЬСЯ С НАМИ
        </span>
      </h2>
      {% for information in informations %}
      <p class="section-subtitle">{{ information.con_us_mini_description }}</p>
      {% endfor %}

      <form id="conform"  method="post" action="">
        {% csrf_token %}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item name">
              <input type="text" name="name" id="name" data-validation="required" placeholder="Ваше имя" />
              <div class="help help-sm help-red">!</div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item phone">
              <input type="text" name="phone" id="phone" data-validation="required" placeholder="Телефон" />
              <div class="help help-sm help-red">!</div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item email">
              <input type="text" name="email" id="email" placeholder="Эл. почта" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
              <textarea name="message" id="message" data-validation="required" placeholder="Твое сообщение..."></textarea>
              <div class="help help-sm help-red">!</div>
            </div>
          </div>
        </div>
        <div class="row" style="display:none;">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item honeypot">
            <label class="fl_label">Honeypot:</label>
            <input type="text" name="last" value="" class="form-control fl_input">
          </div>
        </div>
        <div class="row latest-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-form-item">
            <button type="submit"  class="btn btn-primary">
              Отправить
            </button>
          </div>
        </div>
        <div class="message">
          <div class="divide-xs"></div>
          <div class="alert"></div>
        </div>
      </form>

    </div>
  </div>
</div>
<script>
  $("#conform").submit(function() {
	    var oData = {
	        'name': $('#request').find('[name="name"]').val(),
	        'phone': $('#request').find('[name="phone"]').val(),
	        'email': $('#request').find('[name="email"]').val(),
	        'message': $('#request').find('[name="message"]').val()

	    };

	    oData = $('#request').serialize();

	    $.ajax({
            type: 'POST',
            url: '/',
            dataType: 'html',
            data: oData,

	    })


		return false;
  });
</script>
{% endblock %}